<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74873536730-h1gmmom51dtph83p7qe60c7sh0klt88e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74873536730-h1gmmom51dtph83p7qe60c7sh0klt88e</string>
	<key>API_KEY</key>
	<string>AIzaSyA3WrJJAa4T6dZd8Mhr1xBz7gatriTZW9c</string>
	<key>GCM_SENDER_ID</key>
	<string>74873536730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.classmate.app</string>
	<key>PROJECT_ID</key>
	<string>classmate-new</string>
	<key>STORAGE_BUCKET</key>
	<string>classmate-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74873536730:ios:3bc5092d75900a8a6c25e3</string>
	<key>DATABASE_URL</key>
	<string>https://classmate-new.firebaseio.com</string>
</dict>
</plist>