<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Runner.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5695D4019449810A799B9B1284ADD584717D9740</string>
				<key>dateExpires</key>
				<string>29.09.20</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5695D4019449810A799B9B1284ADD584717D9740</string>
						<key>dateExpires</key>
						<string>29.09.20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5QGBDA22QT</string>
						<key>name</key>
						<string>Timon Wackernagel</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5695D4019449810A799B9B1284ADD584717D9740</string>
						<key>dateExpires</key>
						<string>29.09.20</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5QGBDA22QT</string>
						<key>name</key>
						<string>Timon Wackernagel</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5QGBDA22QT.ch.classmate.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:appclassmate.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>5QGBDA22QT</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4caff8e8-a12c-4f95-b477-b164970b52c9</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: ch.classmate.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5QGBDA22QT</string>
				<key>name</key>
				<string>Timon Wackernagel</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
